.btn {
    width: 35px;
    height: 35px;
    /*border-radius: 90%;*/
    /*background: grey;*/
    /*border: 1px solid black;*/
}

td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
}

/*table {*/
/*    border: 1px solid black;*/
/*}*/